<?php
if (isset($item)) {
    $customCheckbox = $item->jsonSerialize()['module:customCheckbox'];
}

$checked = ($customCheckbox == "true") ? "checked" : "";

// setting du titre
$title_setting = $this->setting("custom_checkbox_setting");
if(!$title_setting) $title_setting = "module:customCheckbox";

?>

<div class="resource-values field">
    <div class="field-meta">
        <div class="field-label"><?= $title_setting ?></div>
        <a href="#" class="collapse" aria-label="Collapse"></a>
        <div class="collapsible">
            <div class="field-description">description.</div>
            <div class="field-term" title="Property term for development use">terme</div>
        </div>
    </div>
    <div class="inputs">
        <div>
            <input type="hidden" name="module:customCheckbox" value="false" />
            <input type="checkbox" id="module:customCheckbox" name="module:customCheckbox" value="true" <?=$checked?> />
            <label for="subscribeNews">test</label>
        </div>
    </div>
</div>