<?php

$customCheckbox = $item->jsonSerialize()['module:customCheckbox'];
// s'il n'y a pas de CustomCheckbox, on n'affiche pas la propriété
if (!$customCheckbox) return;

// setting du titre
$title_setting = $this->setting("custom_checkbox_setting");
if(!$title_setting) $title_setting = "module:customCheckbox";

// value
$value = ($customCheckbox == "true") ? "oui" : "non";

?>
<div class="property">
    <h4><?= $title_setting ?></h4>
    <div class="values">
        <div class="value" lang=""><?php echo $this->escapeHtml($value); ?></div>
    </div>
</div>

<?php 
$response = $this->api()->search('custom_checkbox', ['item_id' => $item->id()]);
// $response = $this->api()->search('items', ['module:customCheckbox' => "true"]);

foreach ($response->getContent() as $checkbox) {
	// print_r($checkbox->custom_checkbox());
    // print_r($checkbox->title());

	// $jsonLd['o-module-mapping:mapping'] = $mapping->getReference();
}
?>